@{
    ViewData["title"] = "Mission Five Home Page";
}
<main role="main" class="pb-3">
    <div class="row">
        <div class="col-md-6">
            <div class="mainImg"></div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <h1>Dexter Stephens</h1>
            <h4>Mission Five Assignment</h4>
        </div>
    </div>
    <div class="text-center">
        <div>
            <h2>413 Expectations</h2>
            <div class="d-flex justify-content-start">
                <p class="text-start">In this class, I hope to improve my ability to decouple the front and backend of an application, learning how to set up an effective api system and react typescript frontend. I want to learn how to deploy an application using this stack, which will help me in my own personal projects.</p>
            </div>

        </div>
        <div>
            <h2>Top 3 Jobs I want to pursue</h2>
            <ul>
                <li>Software Engineer at Apple</li>
                <li>Software Engineer at Adobe</li>
                <li>Software Engineer at Microsoft</li>
            </ul>
        </div>
    </div>
</main>
